{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "macros.html" as macros %}

{% block styles %}
    {{ super() }}
    <link rel='shortcut icon' href='{{ url_for("static", filename="favicon.ico") }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename = "css/readable.css") }}'>
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Euclid
    {% endif %}
{% endblock %}

{% block navbar %}
    <div class='navbar navbar-default navbar-static-top' role='navigation'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='{{ url_for("index") }}'>Euclid</a>
            </div>
            <div class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ _("Experimenting") }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if current_user.check_access("manage_formats") %}
                                <li><a href='{{ url_for("Formats.index") }}'>{{ _("Formats") }}</a></li>
                            {% endif %}
                            {% if current_user.check_access("manage_exp_data") %}
                                <li><a href='{{ url_for("Batches.index") }}'>{{ _("Batches") }}</a></li>
                            {% endif %}
                            {% if current_user.check_access("manage_exp_data") %}
                                <li><a href='{{ url_for("Experiments.index") }}'>{{ _("Experiments") }}</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    {% if current_user.check_access("maange_formats") %}
                        <li><a href="{{ url_for("Formats.index") }}">{{ _("Formats") }}</a></li>
                    {% endif %}

                    {% if current_user.check_access("manage_parsers") %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">{{ _("Parsers") }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for("Parsers.index") }}">{{ _("Manage") }}</a></li>
                                <li><a href="{{ url_for("Parsers.docs") }}">{{ _("Docs") }}</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <li><a href="#">{{ _("Tools") }}</a></li>

                    {% if current_user.check_access("is_admin") %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">{{ _("Admin") }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href='{{ url_for("Admin.users") }}'>{{ _("Users") }}</a></li>
                                <li><a href='{{ url_for("Admin.apps") }}'>{{ _("Apps") }}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>

                <ul class='nav navbar-nav navbar-right'>
                    <li style="margin-top: 6px">
                        <form class="navbar-form form-inline">
                            <div class="btn-group" role="group">
                              <a type="button" href="{{ url_for("User.change_locale", locale="en") }}" class="btn btn-xs {{ "btn-primary" if current_user.locale == "en" else "" }}">EN</a>
                              <a type="button" href="{{ url_for("User.change_locale", locale="ru") }}" class="btn btn-xs {{ "btn-primary" if current_user.locale == "ru" else "" }}">RU</a>
                            </div>
                        </form>
                    </li>
                    <li><a href='{{ url_for("User.logout") }}'>{{ _("Logout") }}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

 {% block content %}
     <div class='container-fluid'>
         {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
                 {% for category, message in messages %}
                     <div class='alert alert-{{ category }}' role='alert'>{{ message|safe }}</div>
                 {% endfor %}
             {% endif %}
         {% endwith %}
         {% block page_content %}
         {% endblock %}
     </div>
 {% endblock %}


