{% extends 'layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel='stylesheet' type='text/css'
      href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.2/bootstrap-table.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.2/bootstrap-table.min.js'></script>
    <script>
        let j = $(".json_data");
        j.JSONView(JSON.parse(j.html()));
    </script>
{% endblock %}

{% block page_content %}
    <div class='row'>
        <div class='col-xs-12'>
            <div class='btn-toolbar' role='toolbar'>
                <div class='btn-group' role='group'>
                    {% if experiments | length == 0 %}
                        {{ macros.render_button_with_confirm(utils.icon('trash'), 'btn btn-default', url_for("Batches.delete", uid=batch.uid)) }}
                    {% else %}
                        <a class="btn btn-default"
                               href="{{ url_for("Batches.export", batch_uid=batch.uid) }}" role="button">
                            {{ utils.icon('download-alt') }}
                        </a>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#parsers_modal" role="button" title="{{ _("Attach parser") }}">
                            {{ utils.icon('console') }}
                    {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-3'>
            <h3>{{ _("Info") }}</h3>
            <hr>
            <p><b>UID:</b></p> {{ batch.uid }} <br><br>
            <p><b>{{ _("Creation time") }}:</b></p> {{ batch.timestamp.strftime('%d.%m.%Y %H:%M') }} <br><br>
            <p><b>{{ _("Title") }}:</b></p> {{ batch.title }} <br><br>
            <p><b>{{ _("Creator") }}:</b></p> {{ batch.creator_name }} <br><br>
            <p><b>{{ _("Meta") }}:</b></p>
            <div class="json_data">{{ batch.meta|safe }}</div>
            <br><br>
        </div>
        <div class='col-xs-5'>
            <h3>{{ _("Experiments") }}</h3>
            <hr>
            <a class="btn btn-primary" href="{{ url_for("Experiments.create", batch_uid=batch.uid) }}"
               role="button">Add</a>
            <br><br>
            <table class='table table-striped table-hover' data-pagination="true" data-toggle="table" id="experiments">
                <thead>
                <tr>
                    <th data-field="d" data-sortable="true">UID</th>
                    <th data-field="a" data-sortable="true">{{ _("Creation time") }}</th>
                    <th data-field="b" data-sortable="true">{{ _("Creator") }}</th>
                    <th class="col-xs-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for f in experiments %}
                    <tr>
                        <td>{{ f.uid }}</td>
                        <td>{{ f.timestamp.strftime('%d.%m.%Y %H:%M') }}</td>
                        <td>{{ f.creator_name }}</td>
                        <td>
                            <a class="btn btn-sm" href="{{ url_for("Experiments.view", uid=f.uid) }}"
                               role="button">{{ utils.icon('eye-open') }}</a>
                            {% if not f.locked %}
                                <span class="label label-danger">{{ _("Unlocked") }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-xs-4'>
            <h3>{{ _("Parsers") }}</h3>
            <hr>
            <h4>{{ _("Attached parsers") }}</h4>
            {% for p in batch_parsers %}
                <div class="panel panel-default">
                    <div class="panel-body" style="padding: 0px">
                        <a class="btn btn-sm" href="{{ url_for("Parsers.view", uid=p["parser"].uid) }}"
                               role="button">{{ p["parser"].title }}</a>
                        <div class="pull-right">
                            {{
                               macros.render_button_with_confirm(
                                   utils.icon('remove'),
                                   'btn btn-sm',
                                   url_for("Batches.remove_parser", batch_uid=batch.uid, parser_uid=p["parser"].uid))
                            }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <h4>{{ _("Output") }}</h4>
            {% for p in batch_parsers %}
                <div class="jumbotron" style="padding: 10px;">
                    <b>{{ p["parser"].title }}</b>
                    <hr>
                    {{ p["output"]["text"] }}
                    {% for i in p["output"]["img"] %}
                        <img width="100%" src="{{ url_for("Batches.parser_img_output", img=i, batch_uid=batch.uid) }}"/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class='modal fade' id='parsers_modal' tabindex='-1' role='dialog' aria-labelledby='parsers_modal_lanel'
         aria-hidden='true'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                    <h4 class='modal-title' id='handbook_modal_label'>{{ _("Attach parser") }}</h4>
                </div>
                <div class='modal-body'>
                    {% call macros.render_form(form, action_text=_("Attach")) %}
                        {{ macros.render_field(form.parser_uid) }}
                    {% endcall %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
